@use "./colors";
@use "./mixins";

// fonts
@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Black.eot");
  src: url("../fonts/DINNextLTArabic-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Black.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Black.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Black.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Black.svg#DINNextLTArabic-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Black_1.eot");
  src: url("../fonts/DINNextLTArabic-Black_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Black_1.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Black_1.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Black_1.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Black_1.svg#DINNextLTArabic-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Black_2.eot");
  src: url("../fonts/DINNextLTArabic-Black_2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Black_2.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Black_2.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Black_2.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Black_2.svg#DINNextLTArabic-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Bold.eot");
  src: url("../fonts/DINNextLTArabic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Bold.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Bold.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Bold.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Bold.svg#DINNextLTArabic-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Bold_1.eot");
  src: url("../fonts/DINNextLTArabic-Bold_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Bold_1.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Bold_1.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Bold_1.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Bold_1.svg#DINNextLTArabic-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Bold_2.eot");
  src: url("../fonts/DINNextLTArabic-Bold_2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Bold_2.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Bold_2.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Bold_2.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Bold_2.svg#DINNextLTArabic-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Heavy.eot");
  src: url("../fonts/DINNextLTArabic-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Heavy.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Heavy.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Heavy.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Heavy.svg#DINNextLTArabic-Heavy")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Heavy_1.eot");
  src: url("../fonts/DINNextLTArabic-Heavy_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Heavy_1.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Heavy_1.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Heavy_1.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Heavy_1.svg#DINNextLTArabic-Heavy")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Heavy_2.eot");
  src: url("../fonts/DINNextLTArabic-Heavy_2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Heavy_2.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Heavy_2.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Heavy_2.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Heavy_2.svg#DINNextLTArabic-Heavy")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Light.eot");
  src: url("../fonts/DINNextLTArabic-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Light.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Light.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Light.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Light.svg#DINNextLTArabic-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Medium.eot");
  src: url("../fonts/DINNextLTArabic-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Medium.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Medium.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Medium.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Medium.svg#DINNextLTArabic-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Light_1.eot");
  src: url("../fonts/DINNextLTArabic-Light_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Light_1.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Light_1.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Light_1.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Light_1.svg#DINNextLTArabic-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Medium_1.eot");
  src: url("../fonts/DINNextLTArabic-Medium_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Medium_1.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Medium_1.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Medium_1.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Medium_1.svg#DINNextLTArabic-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Medium_2.eot");
  src: url("../fonts/DINNextLTArabic-Medium_2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Medium_2.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Medium_2.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Medium_2.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Medium_2.svg#DINNextLTArabic-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Regular.eot");
  src: url("../fonts/DINNextLTArabic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Regular.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Regular.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Regular.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Regular.svg#DINNextLTArabic-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Regular_1.eot");
  src: url("../fonts/DINNextLTArabic-Regular_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Regular_1.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Regular_1.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Regular_1.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Regular_1.svg#DINNextLTArabic-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("../fonts/DINNextLTArabic-Regular_2.eot");
  src: url("../fonts/DINNextLTArabic-Regular_2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-Regular_2.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-Regular_2.woff") format("woff"),
    url("../fonts/DINNextLTArabic-Regular_2.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-Regular_2.svg#DINNextLTArabic-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Ultra";
  src: url("../fonts/DINNextLTArabic-UltraLight.eot");
  src: url("../fonts/DINNextLTArabic-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-UltraLight.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-UltraLight.woff") format("woff"),
    url("../fonts/DINNextLTArabic-UltraLight.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-UltraLight.svg#DINNextLTArabic-UltraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Ultra";
  src: url("../fonts/DINNextLTArabic-UltraLight_1.eot");
  src: url("../fonts/DINNextLTArabic-UltraLight_1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-UltraLight_1.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-UltraLight_1.woff") format("woff"),
    url("../fonts/DINNextLTArabic-UltraLight_1.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-UltraLight_1.svg#DINNextLTArabic-UltraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Ultra";
  src: url("../fonts/DINNextLTArabic-UltraLight_2.eot");
  src: url("../fonts/DINNextLTArabic-UltraLight_2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-UltraLight_2.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-UltraLight_2.woff") format("woff"),
    url("../fonts/DINNextLTArabic-UltraLight_2.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-UltraLight_2.svg#DINNextLTArabic-UltraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Ultra";
  src: url("../fonts/DINNextLTArabic-UltraLight_3.eot");
  src: url("../fonts/DINNextLTArabic-UltraLight_3.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic-UltraLight_3.woff2") format("woff2"),
    url("../fonts/DINNextLTArabic-UltraLight_3.woff") format("woff"),
    url("../fonts/DINNextLTArabic-UltraLight_3.ttf") format("truetype"),
    url("../fonts/DINNextLTArabic-UltraLight_3.svg#DINNextLTArabic-UltraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

::-moz-selection {
  color: map_get(colors.$theme-colors, selectionColor);
  background: map_get(colors.$theme-colors, selectionBg);
}

::selection {
  color: map_get(colors.$theme-colors, selectionColor);
  background: map_get(colors.$theme-colors, selectionBg);
}

::-webkit-scrollbar-track {
  background: map_get(colors.$theme-colors, scrollTrackBg);
}

::-webkit-scrollbar-thumb {
  background: map_get(colors.$theme-colors, scrollThumbBg);

  &::-webkit-scrollbar-thumb:hover {
    background: map_get(colors.$theme-colors, scrollThumbHoverBg);
  }
}

/* start common style*/

* {
  @include mixins.prefix(box-sizing, border-box, webkit ms o);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "DIN Next LT Arabic";
  background-color: map_get(colors.$theme-colors, body);
  text-align: left;
  direction: ltr;
  // overflow: hidden;
  font-size: 17px;
  color: map_get(colors.$theme-colors, dark);
}

.rotate-y-180 {
  transform: rotateY(-180deg);
}

.rotate-10 {
  transform: rotate(10deg);
}

html[lang="ar"] {
  body {
    direction: rtl;
    text-align: right;
  }
  [type="email"],
  [type="number"],
  [type="tel"],
  [type="url"] {
    direction: rtl;
  }
  .rotate-y-180 {
    transform: rotateY(0deg);
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  @include mixins.transition(background 0.3s ease-in-out);
}

::-webkit-scrollbar-track {
  @include mixins.border-radius(50px);
}

::-webkit-scrollbar-thumb {
  @include mixins.border-radius(50px);
}

.btn {
  @include mixins.border-radius(15px);
  border: 0;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    @include mixins.prefix(box-shadow, none, webkit ms o);
  }
  &.with-shadow {
    @include mixins.prefix(
      box-shadow,
      0px 12px 12px 0px rgba(20, 20, 20, 0.14),
      webkit ms o
    );
  }
  &.custom-btn {
    height: 45px;
    min-width: 100px;
  }
  &.w-48 {
    width: 48%;
  }
  &.w-240 {
    width: 240px;
  }
}

.modal {
  overflow-y: auto;
  .modal-content {
    @include mixins.border-radius(30px);
    overflow: hidden;
  }
  .modal-body {
    background-color: map_get(colors.$theme-colors, lightGrayClr3);
    padding: 30px;
  }
}

a,
button,
img {
  @extend .general-transition;
}

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: map_get(colors.$theme-colors, placeholder);
  text-transform: capitalize;
  font-size: 14px;
}

.owl-carousel {
  direction: ltr;
  touch-action: manipulation;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  &.text-hover {
    color: map_get(colors.$theme-colors, dark);
    &:hover,
    &:focus {
      color: map_get(colors.$theme-colors, primary);
      img {
        filter: invert(38%) sepia(87%) saturate(477%) hue-rotate(112deg)
          brightness(112%) contrast(91%);
      }
    }
  }
  &.hvr-secondary {
    color: map_get(colors.$theme-colors, primary);
    &:hover,
    &:focus {
      color: map_get(colors.$theme-colors, secondary);
    }
  }
  &.hvr-primary {
    color: map_get(colors.$theme-colors, secondary);
    &:hover,
    &:focus {
      color: map_get(colors.$theme-colors, primary);
    }
  }
  &.link-bg {
    background-color: map_get(colors.$theme-colors, lightSecondary);
    color: map_get(colors.$theme-colors, secondary2);
    &:hover,
    &:focus {
      background-color: map_get(colors.$theme-colors, secondary2);
      color: #fff;
    }
    .img-cont {
      @include mixins.shape(40px);
      @extend .flex-center;
      @include mixins.border-radius(50%);
      background-color: #fff;
      overflow: hidden;
      img {
        @include mixins.shape(30px);
      }
    }
  }
}

ul {
  @include mixins.reset-list;
}
p {
  line-height: 1.7;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

// lazyload
img.lazyload:not([src]) {
  visibility: hidden;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.w-57 {
  width: 57%;
}
.w-25px {
  width: 25px;
}
.w-fit {
  width: fit-content;
}
.wh-40 {
  @include mixins.shape(40px);
}
.wh-50 {
  @include mixins.shape(50px);
}
.wh-150 {
  @include mixins.shape(150px);
}
.fw-500 {
  font-weight: 500;
}
.fs-80 {
  font-size: 80px !important;
}
.fs-50 {
  font-size: 50px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-6px {
  font-size: 6px;
}
.h-500 {
  height: 500px;
  max-width: 100%;
  object-fit: cover;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-13 {
  font-size: 13px !important;
}
h5 {
  font-size: 1.1rem !important;
}

.h5_2 {
  font-size: 1.2rem !important;
}
h2 {
  font-size: 1.6rem !important;
}
.rounded-30 {
  @include mixins.border-radius(30px);
}
.cursor-pointer {
  cursor: pointer;
}

.general-transition {
  @include mixins.transition(all 0.5s ease-in-out);
}

.genral-shadow {
  @include mixins.prefix(box-shadow, 0px 12px 12px 0px rgba(0, 0, 0, 0.08));
}

.scale-hvr {
  &:hover {
    scale: (1.1);
  }
}

.shrink-hvr {
  &:hover {
    scale: (0.97);
  }
}

.black-img {
  filter: grayscale(1) brightness(0.3);
}
.white-img {
  filter: brightness(1);
}
/* end common style*/

/*start loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  overflow: hidden;
  // @include mixins.prefix(display, flex, webkit moz ms o);
  display: none;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  img {
    max-width: 470px;
    max-height: 470px;
    object-fit: cover;
  }
  @include mixins.keyframes(progress-bar) {
    0% {
      left: -6vw;
    }
    100% {
      left: 70%;
    }
  }

  #loader {
    position: relative;
    margin: 0 auto;

    #logo {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding-bottom: 35px;
      text-align: center;

      img {
        width: 100%;
        max-width: 390px;
      }
      h3 {
        font-weight: 700;
        font-size: 34px;
      }
    }
    #progressbar {
      background-color: #f0f0f0;
      height: 3px;
      border-radius: 30px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      overflow: hidden;
      width: 100px;

      &::before {
        width: 5vw;
        position: relative;
        left: -7vw;
        background-color: map_get(colors.$theme-colors, primary);
        content: " ";
        display: block;
        height: 3px;
        border-radius: 30px;
        animation: 1.2s progress-bar 0.5s infinite alternate ease-in-out;
      }
    }
  }
}

.top-circles {
  position: absolute;
  top: -50px;
  right: -50px;
  @include mixins.shape(300px);
  z-index: 1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(
      151deg,
      rgba(46, 204, 155, 0.08) 18.96%,
      rgba(125, 157, 255, 0.08) 82.31%
    );
  }
  &:before {
    top: 0;
    right: 0;
    @include mixins.shape(250px, 50%);
  }

  &:after {
    top: 130px;
    right: 25px;
    @include mixins.shape(170px, 50%);
  }
}

.bottom-circles {
  position: absolute;
  bottom: -50px;
  left: -50px;
  @include mixins.shape(300px);
  z-index: 1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(
      151deg,
      rgba(46, 204, 155, 0.08) 18.96%,
      rgba(125, 157, 255, 0.08) 82.31%
    );
  }
  &:before {
    bottom: 65px;
    left: 25px;
    @include mixins.shape(220px, 50%);
  }

  &:after {
    bottom: 20px;
    left: 60px;
    @include mixins.shape(170px, 50%);
  }
}

/*end loader */

// start form
.resize-none {
  resize: none;
}
.form-control {
  height: 53px;
  background: map_get(colors.$theme-colors, menuBg);
  color: map_get(colors.$theme-colors, lightGrayClr);
  @include mixins.border-radius(17px);
  border: 0;
  font-size: 15px;
  &:focus {
    @include mixins.prefix(box-shadow, none, webkit ms o);
  }
  &.rounded-0 {
    @include mixins.border-radius(0);
  }
}

.rounded-start-0 {
  @include mixins.border-radius(0 17px 17px 0);
}

.form-label {
  text-transform: capitalize;
  font-size: 16px;
  &.text-transform-unset {
    text-transform: unset;
  }
}
.input-group-text {
  @include mixins.border-radius(0 17px 17px 0);
  &.icon {
    color: map_get(colors.$theme-colors, placeholder);
    @extend .general-transition;
    &:hover {
      color: map_get(colors.$theme-colors, primary);
    }
  }
  &.first-g-text {
    @include mixins.border-radius(17px 0 0 17px);
  }
}
.password-radius {
  @include mixins.border-radius(17px 0 0 17px);
}

.form-check-input {
  @include mixins.shape(1.2em);
  border-color: map_get(colors.$theme-colors, lightGrayClr);
  background-color: transparent;
  border-width: 2px;
  @extend .general-transition;
  cursor: pointer;
  &:checked {
    // filter: invert(1) brightness(1) contrast(0.3);
    border-color: map_get(colors.$theme-colors, primary);
    background-color: map_get(colors.$theme-colors, primary);
  }
  &:focus {
    @include mixins.prefix(box-shadow, none, webkit ms o);
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: map_get(colors.$theme-colors, placeholder) !important;
  text-transform: capitalize !important;
}

.select2-container {
  .select2-selection--single {
    height: 53px;
    background: map_get(colors.$theme-colors, menuBg);
    @include mixins.border-radius(17px);
    border: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px;

    .select2-selection__rendered {
      display: flex;
      align-items: center;
      color: map_get(colors.$theme-colors, lightGrayClr);
      span {
        display: flex;
        align-items: center;
        color: map_get(colors.$theme-colors, lightGrayClr);
      }
    }

    .select2-selection__arrow {
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }
  }
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: map_get(colors.$theme-colors, secondary);
}
.select2-results__option--selectable {
  @extend .general-transition;
  font-size: 13px;
}

.select-with-border {
  .select2-container {
    .select2-selection--single {
      border: 1px solid map_get(colors.$theme-colors, placeholder);
    }
  }
}

.SelectBox {
  padding: 5px 10px;
}

.SumoSelect {
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  > {
    .optWrapper {
      font-size: 15px;
      &.multiple > {
        .options {
          li {
            ul {
              li.opt {
                padding-left: 35px;
              }
            }
          }
        }
      }
    }
    .CaptionCont {
      height: 53px;
      background: map_get(colors.$theme-colors, menuBg);
      @include mixins.border-radius(17px);
      border: 1px solid map_get(colors.$theme-colors, placeholder);
      display: flex;
      align-items: center;

      > {
        span {
          font-size: 15px;
          &.placeholder {
            color: map_get(colors.$theme-colors, placeholder);
            background-color: transparent;
            font-style: normal;
            font-size: 14px;
            height: 100%;
            display: flex;
            align-items: center;
            opacity: 1;
          }
        }
      }
    }
  }
  &.open,
  &:focus,
  &:hover {
    > .CaptionCont {
      @include mixins.prefix(box-shadow, none, webkit ms o);
      border-color: map_get(colors.$theme-colors, placeholder);
    }
  }
  .select-all.selected > span i,
  > .optWrapper.multiple > .options li.opt.selected span i {
    background-color: map_get(colors.$theme-colors, primary);
  }
}

.gray-filter {
  filter: grayscale(1);
}

html[lang="ar"] {
  .input-group-text {
    @include mixins.border-radius(20px 0 0 20px);

    &.first-g-text {
      @include mixins.border-radius(0 20px 20px 0);
    }
  }
  .password-radius {
    @include mixins.border-radius(0 20px 20px 0);
  }
  .select2-container {
    .select2-selection--single {
      .select2-selection__arrow {
        left: 5px;
        right: auto;
      }
    }
  }
  .transfrom-180 {
    transform: rotateY(180deg);
  }
  .transfrom-180-reverse {
    transform: rotateY(-180deg);
  }

  .SumoSelect {
    > {
      .optWrapper {
        &.multiple {
          > .options {
            li {
              &.opt {
                padding-right: 35px;
                span {
                  margin-right: -35px;
                }
              }

              &.group {
                > label {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      .CaptionCont {
        > {
          label {
            left: 0;
            right: auto;
          }
          span {
            padding-left: 30px;
            padding-right: 0;
            &.placeholder {
              padding-right: 0;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }

  .rounded-start-0 {
    @include mixins.border-radius( 17px 0 0 17px );
  }
}
// end form

// start top bar

.top-bar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 3;
  @extend .general-transition;

  &.change-bg {
    top: 0;
  }
  .logo {
    width: 100px;
  }
  h3 {
    font-weight: 400;
    font-size: 17px;
  }
}

.social {
  @include mixins.shape(35px, 50%);
  background-color: map_get(colors.$theme-colors, dark);
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
    background-color: map_get(colors.$theme-colors, primary);
  }
}
// end top bar

// start footer
.main-footer {
  @include mixins.border-radius(30px 30px 0 0);
  color: #fff;
  padding-block: 60px 10px;
  h2 {
    font-size: 45px !important;
  }
  .footer-logo {
    width: 160px;
    margin-bottom: 20px;
  }
  .social {
    background-color: map_get(colors.$theme-colors, menuBg);
    color: map_get(colors.$theme-colors, footerBg);
    @include mixins.shape(50px, 50%);
    font-size: 25px;
    &:hover,
    &:focus {
      color: #fff;
      background-color: map_get(colors.$theme-colors, primary);
      transform: translatey(-4px);
    }
  }
  .pay {
    width: 70px;
    height: 50px;
    @include mixins.border-radius(3px);
    img {
      width: 100%;
      height: 100%;
    }
    &:hover,
    &:focus {
      transform: scale(0.9);
    }
  }
  .footer-title {
    color: map_get(colors.$theme-colors, menuBg);
    background-color: map_get(colors.$theme-colors, footerTitle);
    padding: 10px 15px;
    min-width: 135px;
    width: fit-content;
    margin-inline: auto;
    @include mixins.border-radius(30px);
    font-size: 15px !important;
  }
  .footer-links {
    a {
      font-size: 14px;
      color: map_get(colors.$theme-colors, menuBg);
      justify-content: center;
      padding: 8px 13px;
      min-width: 135px;
      width: fit-content;
      @include mixins.border-radius(30px);
      margin-inline: auto;
      &:hover,
      &:focus,
      &.active {
        background-color: #364a4d;
      }
    }
  }
}
// end footer

/*start scroll top */

#scroll-top {
  @include mixins.shape(40px);
  @include mixins.border-radius(50%);
  line-height: 35px;
  color: #fff;
  background-color: map_get(colors.$theme-colors, primary);
  text-align: center;
  position: fixed;
  bottom: 20px;
  z-index: 3;
  cursor: pointer;
  display: none;
  @extend .general-transition;
  border: 2px solid transparent;
  left: 20px;
  &:hover {
    background-color: #fff;
    color: map_get(colors.$theme-colors, primary);
    border: 2px solid map_get(colors.$theme-colors, primary);
  }
}
html[lang="ar"] {
  #scroll-top {
    right: 20px;
    left: auto;
  }
}

/*end scroll-top*/

// start whatsapp
.hidden {
  display: none;
}

@include mixins.keyframes(wiggle) {
  0% {
    @include mixins.transform(rotate(-3deg));
  }
  20% {
    @include mixins.transform(rotate(20deg));
  }
  40% {
    @include mixins.transform(rotate(-15deg));
  }
  60% {
    @include mixins.transform(rotate(5deg));
  }
  90% {
    @include mixins.transform(rotate(-1deg));
  }
  100% {
    @include mixins.transform(rotate(0));
  }
}

@include mixins.keyframes(pulse) {
  0% {
    @include mixins.transform(scale(1));
  }
  50% {
    @include mixins.transform(scale(1.6));
  }
  100% {
    @include mixins.transform(scale(1.7));
    opacity: 0;
  }
}

#wpp-fix {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 12;

  .wpp-link {
    @extend .general-transition;
    background: map_get(colors.$theme-colors, primary);
    display: flex;
    z-index: 2;
    position: relative;
    padding: 15px;
    border: none;
    cursor: pointer;
    @include mixins.border-radius(50%);
    @include mixins.prefix(
      box-shadow,
      0px 3px 10px rgba(map_get(colors.$theme-colors, primary), 0.56),
      webkit ms o
    );
    @include mixins.transform(scale(1));

    & > span {
      display: none;
    }

    &:hover {
      @include mixins.transform(scale(1.05));
      background: darken(map_get(colors.$theme-colors, primary), 10%);
    }

    &.hide-this {
      opacity: 0;
      visibility: hidden;
      @include mixins.transform(scale(0.5));

      & + .contact-wpp {
        visibility: visible;
        opacity: 1;
        @include mixins.transform(scale(1));
        @include mixins.border-radius(30px 30px 0px 0px);
      }
    }

    & + .contact-wpp {
      @extend .general-transition;
      position: absolute;
      @include mixins.prefix(
        box-shadow,
        0px 12px 12px 0px rgba(20, 20, 20, 0.14),
        webkit ms o
      );
      bottom: 0;
      right: 0px;
      opacity: 0;
      overflow: hidden;
      @include mixins.transform(scale(0.2));
      @include mixins.border-radius(50%);
      z-index: 1;
      visibility: hidden;
      transform-origin: bottom right;
      width: 100%;
      max-width: 300px;
      min-width: 350px;
      .contacting-info {
        @extend .general-transition;
        padding: 15px;
        position: relative;
        width: 100%;
      }

      .head-wpp {
        width: 100%;
        padding: 12px 8px;
        background: map_get(colors.$theme-colors, primary);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 6;

        h6 {
          padding-inline: 10px;
        }
      }
    }
  }

  .headset {
    width: initial;
    display: block;
    height: 30px;

    path {
      fill: #fff;
    }
  }

  &.shake {
    .wpp-link {
      &::before {
        @extend .general-transition;
        background: rgba(map_get(colors.$theme-colors, primary), 0.6);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        top: 0px;
        right: 0;
        @include mixins.animation("pulse 2s infinite");
      }
    }

    .headset {
      @include mixins.animation("1s wiggle ease infinite");
    }
  }

  @include mixins.MQ(767px) {
    bottom: 15px;

    .headset {
      height: 25px;
    }

    .wpp-link {
      padding: 10px;
    }
  }

  @include mixins.MQ(395px) {
    .wpp-link {
      & + .contact-wpp {
        min-width: 290px;

        .head-wpp {
          img {
            width: 40px;
          }
        }
      }
    }
  }
}
html[lang="ar"] {
  #wpp-fix {
    left: 20px;
    right: auto;
    .wpp-link + .contact-wpp {
      left: 0;
      right: auto;
      transform-origin: bottom left;
    }
  }
}
// end whatsapp
/* Start Media Query */

@media (max-width: 767px) {
  body {
    font-size: 15px;
  }
  h6,
  .form-label {
    font-size: 14px !important;
  }

  .fs-14 {
    font-size: 13px !important;
  }

  .w-50,
  .w-57,
  .w-75,
  .w-25 {
    width: 100% !important;
  }

  .modal {
    .w-50 {
      width: 60% !important;
    }
  }

  .flex-sm-1 {
    flex-grow: 1;
  }

  .w-sm-100 {
    width: 100%;
  }

  .w-25px {
    width: 20px;
  }

  .wh-40 {
    @include mixins.shape(35px);
  }
  .wh-150 {
    @include mixins.shape(90px);
  }
  h3,
  .fs-18 {
    font-size: 17px !important;
  }

  h2,
  .fs-5 {
    font-size: 1.2rem !important;
  }
  h5 {
    font-size: 1rem !important;
  }
  .h5_2 {
    font-size: 1.1rem !important;
  }
  .fs-3 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 16px !important;
  }

  .fs-25 {
    font-size: 21px !important;
  }

  .user {
    .fs-6,
    h6 {
      font-size: 14px !important;
    }
  }

  .fs-80 {
    font-size: 30px !important;
    text-align: center;
  }
  .fs-50 {
    font-size: 25px !important;
  }
  .tags-tabs {
    .nav-link {
      font-size: 13px;
    }
  }

  .form-control {
    font-size: 13px;
    height: 45px;
  }
  .fs-15 {
    font-size: 14px !important;
  }
  .select2-container {
    .select2-selection--single {
      font-size: 13px;
      height: 45px;
    }
  }

  .SumoSelect {
    > .CaptionCont {
      height: 45px;
      > span {
        font-size: 13px;
      }
    }
  }

  .btn {
    font-size: 14px;
    height: 45px;
    &.w-48 {
      width: 100%;
    }
    &.custom-btn {
      height: 40px;
    }
    &.w-240 {
      width: 210px;
    }
  }

  .h-500 {
    height: 300px;
  }

  .top-bar {
    h3 {
      font-size: 14px !important;
    }
    .logo {
      width: 65px;
    }
  }

  .social {
    @include mixins.shape(27px, 50%);
    font-size: 12px;
  }

  .top-circles {
    @include mixins.shape(250px);
    &:before {
      @include mixins.shape(200px, 50%);
    }

    &:after {
      @include mixins.shape(120px, 50%);
    }
  }

  .bottom-circles {
    @include mixins.shape(250px);

    &:before {
      @include mixins.shape(170px, 50%);
    }

    &:after {
      @include mixins.shape(120px, 50%);
    }
  }

  .loader-container {
    #loader {
      #logo {
        img {
          max-width: 185px;
        }
      }
    }
  }
  .main-footer {
    .footer-logo {
      width: 100px;
    }
    h2 {
      font-size: 20px !important;
      text-align: center;
    }

    .footer-title {
      font-size: 14px !important;
    }
    .footer-links {
      a {
        font-size: 13px;
      }
    }
    .social {
      @include mixins.shape(40px);
      font-size: 20px;
    }
    .pay {
      width: 60px;
      height: 40px;
    }
    .copyright {
      text-align: center;
    }
  }

  #wpp-fix {
    .wpp-link + {
      .contact-wpp {
        min-width: 250px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .fs-15 {
    font-size: 14px !important;
  }
  .w-57,
  .w-75 {
    width: 85% !important;
  }
  h3 {
    font-size: 25px !important;
  }
  h4 {
    font-size: 19px !important;
  }
  h2 {
    font-size: 1.4rem !important;
  }
  .fs-80 {
    font-size: 60px !important;
  }
  body .btn {
    font-size: 16px;
  }

  .loader-container {
    #loader {
      #logo {
        img {
          max-width: 250px;
        }
      }
    }
  }

  .top-bar {
    h3 {
      font-size: 15px !important;
    }
  }

  .social {
    @include mixins.shape(30px, 50%);
    font-size: 14px;
  }
  .main-footer {
    .footer-logo {
      width: 145px;
    }
    h2 {
      font-size: 31px !important;
      text-align: center;
    }
    .social {
      @include mixins.shape(45px);
      font-size: 23px;
    }
    .pay {
      width: 65px;
      height: 45px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wh-150 {
    @include mixins.shape(130px);
  }
  .w-50 {
    width: 75% !important;
  }
  .main-footer {
    .footer-logo {
      width: 155px;
    }
    h2 {
      font-size: 35px !important;
    }
    .footer-title {
      font-size: 14px !important;
    }
  }
}
