/* mixins */
@mixin border-radius($val) {
  border-radius: $val !important;
  -webkit-border-radius: $val !important;
  -moz-border-radius: $val !important;
  -ms-border-radius: $val !important;
  -o-border-radius: $val !important;
}

@mixin transition($args...) {
  -webkit-transition: $args !important;
  -moz-transition: $args !important;
  -ms-transition: $args !important;
  -o-transition: $args !important;
  transition: $args !important;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin shape($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius != 0 {
    @include border-radius($radius);
    // border-radius: $radius;
  }
}

@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// @include mixins.keyframes(fade) {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
// }

// .anim {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include mixins.animation("fade 5s infinite");
// }
